<h1>Listado de Libros</h1>
<mat-divider></mat-divider>

<div>
  <h3>Buscador</h3>
  <mat-form-field class="grid col-12 sm:col-4">
      <mat-label>Buscar por Titulo</mat-label>
      <input 
          type="text"
          matInput
          [formControl]="title"
          (input)="searchLibro('title')"
          [matAutocomplete]="a"
      />
      <mat-autocomplete autoActiveFirstOption 
          #a="matAutocomplete">
        </mat-autocomplete>
        <mat-option
          *ngIf="libros.length === 0 && title.value && title.value.length > 0"
          value="">
          No se encontro nada con el termino {{ title.value }}
        </mat-option>
  </mat-form-field>
  <mat-form-field class="col-12 sm:col-4">
    <mat-label>Buscar por Autor</mat-label>
    <input 
        matInput
        type="text"
        [formControl]="author"
        (input)="searchLibro( 'author' )"
        [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption 
          #auto="matAutocomplete">
        </mat-autocomplete>
        <mat-option
          *ngIf="libros.length === 0 && author.value && author.value.length > 0"
          value="">
          No se encontro nada con el termino {{ author.value }}
        </mat-option>
  </mat-form-field>
  <mat-form-field class="col-12 sm:col-4">
    <mat-label>Buscar por Genero</mat-label>
    <input 
        matInput
        type="text"
        [formControl]="genre"
        (input)="searchLibro('genre')"
        [matAutocomplete]="aut"
    />
    <mat-autocomplete autoActiveFirstOption 
          #aut="matAutocomplete">
        </mat-autocomplete>
        <mat-option
          *ngIf="libros.length === 0 && genre.value && genre.value.length > 0"
          value="">
          No se encontro nada con el termino {{ genre.value }}
        </mat-option>
  </mat-form-field>
</div>

<mat-divider></mat-divider>

<app-table [libros]="libros"></app-table>