<!-- <div class="flex flex-column p-2">
    <h3>Buscador</h3>
    <mat-form-field>
        <mat-label>Buscador de libros</mat-label>
        <input 
            type="text"
            matInput
            [formControl]="searchInput"
            (input)="searchLibro()"
            [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption 
            #auto="matAutocomplete"
            (optionSelected)="onSelectedOption( $event )">
            <mat-option *ngFor="let libro of libros" [value]="libro">
                {{ libro.title }}
            </mat-option>
          </mat-autocomplete>
          <mat-option
            *ngIf="libros.length === 0 && searchInput.value && searchInput.value.length > 0"
            value="">
            No se encontro nada con el termino {{ searchInput.value }}
          </mat-option>
    </mat-form-field>
</div> -->